body {
    background: white url("geometricWHITEbackground.jpg") repeat center fixed;
    font-family: Helvetica, "Times New Roman", Arial, sans-serif;
    color: black;
}


a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: rebeccapurple;
}


table {
    background-color: white;
    width: 100%;
}
th {
    width: 100px;
}


figure {
    border: thin gray solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width:300px;
    margin: auto;
} 
img {
    max-width: 300px;
    max-height: 300px;
} 
figcaption {
    background-color: black;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.CENTER {
    text-align: center;
    margin: auto;
}

.containerBANNER {
    margin-bottom: 25px;
}
.containerMAIN {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}
.columnMAIN_PAGE {
    float: left;
    width: 30%;
    padding: 5px;
}

.figureMAX {
    max-width: fit-content;
    max-height: fit-content;
}
.imgMAX {
    max-width: fit-content;
    max-height: fit-content;
}
.photosMAX {
    max-width: 700px;
    max-height: 350px;
}
/* CONTAINER FOR LOGO - https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html */

.containerLOGO {
    display: flex;
    align-items: center;
    justify-content: center
}
.textLOGO {
    font-size: 20px;
    padding-left: 20px;
}
.imgLOGO {
    max-width: 69px;
    max-height: 69px;
}